.logo {
  font-family: Raleway;
  @include font(700, 24px, 1.16, null);
  color: #000000;
  text-decoration: none;
  @include desk { 
  @include font(bold, 26px, 1.2, null);   
  margin-right: 93px; 
   }    
  
  .logo__text {
    color: $accent-color;    
  }
}
