// Меню авторизации
.auth {
  display: none;
  @include tab{
    display: flex;
    flex-direction: column; 
    .auth__item:nth-child(1){
      margin-bottom: 10px ;
      }
    }
  @include desk{
    flex-direction: row;
    margin-left: auto;
    .auth__item:nth-child(1){
    margin-bottom: 0  ;
    }  
  }
  .auth__item + .auth__item {    
    @include desk{
      margin-left: 50px;
    }
  }
}
// Иконки навигации
.auth__link {  
  color: $primary-text-color;
  @include font(500, 14px, 1.43, 0.02em);
  text-decoration: none;
  @include desk{
    @include center;    
    padding-top: 32px;
    padding-bottom: 32px;
  }  

  transition: color 250ms $timing-function;
}

.auth__icon-envelop {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms $timing-function;

  .auth__link:hover &,
  .auth__link:focus & {
    fill: $accent-color;
  }
}
.auth__icon-tel {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms $timing-function;

  .auth__link:hover &,
  .auth__link:focus & {
    fill: $accent-color;
  }
}
.auth__link:hover,
.auth__link:focus {
  color: $accent-color;
  transition: color 250ms $timing-function;
}
