// ---------------Подвал--------------
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foooter__logo {
  display: block;
  @include font(700, 24px, 1.16, null);   
  @include desk {    
  @include font(bold, 26px, 2, null);
     }       
  color: $white-color;
  margin-bottom: 20px;
}
.adress{
  font-style: normal;  
  @include desk {    
    margin-bottom: 0;
     }   
}
.footer__adress-place {
  color: $white-color;
  @include font(normal, 14px, 1.71, null);  
  text-decoration: none;
  /* or 171% */
}
.adress__item + .adress__item {
  margin-top: 9px;
}
.adress__contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  @include font(normal, 14px, 24px, null);
  font-size: 14px;
  text-decoration: none;
}
.adres__list {
  @extend %list;
}
/*Footer socials*/

.footer__flex {  
  text-align: center;
  @include desk {    
  display: flex;  
  align-items: baseline;  
  text-align: left
     }   
  @extend %container;
}
.footer__invite-wrap {  
  @include tab{
    margin-bottom: 0;
  }
  @include desk {    
  margin-left: 70px;
  margin-bottom: 0;
       }   
}
.footer__wrap-adress{
  margin-bottom: 60px;
  @include tab{
    margin-bottom: 0;
  }
}
.footer__wrap--tab{
  margin-bottom: 60px;  
  @include tab{
  display: flex;
  justify-content: space-around;  
  @include desk {   
    margin-bottom: 0; 
  align-items: baseline;   
         }  
}
}
.footer__input{
  margin-bottom: 20px; 
}
.social {
  @include center;
  @extend %list;
}
.social__item + .social__item {
  margin-left: 10px;
}
.footer__title {
  color: $white-color;
  @include font(bold, 14px, 1.71, 0.03em);
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social__link {
  @include center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  transition: color, background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}
.social__icon {
  fill: $white-color;
}

/*----------Footer Form-----------*/
.footer__mailing-wrap{  
  @include desk {    
    margin-left: 93px;       
  }  
}
.footer__form {
  @include center;
  flex-direction: column;  
  @include desk { 
    align-items: baseline;    
    flex-direction: row;       
  }  
  
}
.footer__button {
  margin-left: 12px;
  @include center;
}

.footer__input {
  width: 100%;
  @include tab {
    width: 450px;
  }
  @include desk {    
   width: 358px;
   margin-bottom: 0;
   }
  
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;

  &::placeholder {
    @include font(null, 16px, null, 0.03em);
    line-height: calc(20 / 16);

    @include center;

    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__icon-send {
  margin-left: 10px;
}
