.nav__list {
  display: flex;

  .nav__item + .nav__item {
    margin-left: 50px;
  }
}
.main-nav {
  @include center;
  @extend %container;
}
.nav__link {
  display: block;
  @include font(500, 14px, 1.43, 0.02em);
  color: $title-text;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.current {
  color: $accent-color;
  display: block;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    display: block;

    position: absolute;
    left: 0;
    bottom: 0;

    border: 2px solid $accent-color;
    border-radius: 2px;

    transform: scaleX(100%);
    transition: transform $timing-function 2500ms;
  }
  &:hover::after {
    transition: transform 2500ms $timing-function;
    transform: scaleX(0);
  }
}
