/* --ПОРТФОЛИО-- 
Фильтр списка проєктов */
.filter {
  @include desk {    
  padding-top: 94px;
  padding-bottom: 94px;
  }  
  padding-top: 60px;
  padding-bottom: 60px;
  @extend %section;
}
.filter__button {
  border: 0;
  color: $title-text;
  @include font(500, 16px, 1.62, null);
  cursor: pointer;
  border-radius: 4px;
  /* identical to box height, or 162% */
  padding: 6px 22px;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    /* identical to box height, or 162% */
  }
}


.filter__link {
  text-decoration: none;
}
.filter__item { 
  &:nth-last-child(n+3){
    margin-bottom: 15px; 
    } 
  &:nth-child(n){
    margin-left: 0;
  }  
    @include tab {    
      &:nth-last-child(n+3){
        margin-bottom: 0; 
        } 
      }      
  transition-property: box-shadow;
  transition-duration: 2500ms;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: color, background-color, box-shadow 250ms var(--timing-function);
  }
}

.filter__button-block {
  // @include center;
  display: flex; 
  flex-wrap: wrap;    
  margin-bottom: 40px;   
  @extend %list;
  @include tab {    
  justify-content: center;
  }
  @include desk {    
    margin-bottom: 50px;
  }  
}
.filter__item + .filter__item {
  margin-left: 8px;
}
.filter__item:nth-child(4){
  margin-left: 0;
  @include tab{
    margin-left: 8px;
  }
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  @include tab {    
    margin-left: -30px;
  }   
}
.filter__item--list {
  // width: 370px;
  width: 100%;
  height: 404px;
  &:nth-last-child(n+2){
    margin-bottom: 30px; 
    } 
    @include tab {    
      width: calc(100% / 2 - 30px);
      margin-left: 30px; 
    }
    @include desk {    
      width: calc(100% / 3 - 30px);
      margin-left: 30px;
    &:nth-child(3n) {
    margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
      }    
  // margin-right: 30px;
  // margin-bottom: 30px;

  
  
}
.filter__frame {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.filter__title {
  color: $title-text;
  @include font(bold, 18px, 2, 0.06em);
  
  margin: 0;
  margin-bottom: 4px;
}
.filter__text {
  color: $primary-text-color;
  @include font(null, 16px, 1.87, null);
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
/* -------------Overlay-------------*/
.filter__product-overlay {
  display: flex;
  border: none;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .filter__link:hover &,
  .filter__link:focus & {
    transform: translateY(0);
    overflow: hidden;
  }
}
.filter__hidden-wrap {
  position: relative;
  overflow: hidden;
  // max-width: 370px;
  width: 100%;
  max-height: 294px;
}
.filter__overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);

  color: $white-color;
}
